[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coveralls = "*"
pipenv-to-requirements = "*"
black = "*"
mypy = "*"

[packages]
certifi = "*"
chardet = "*"
click = "*"
idna = "*"
itsdangerous = "*"
mwparserfromhell = "*"
python-stdnum = "*"
requests = "*"
urllib3 = "*"
pywikibot = {git = "https://phabricator.wikimedia.org/diffusion/PWBC/pywikibot.git"}
fuzzywuzzy = "*"
pytest = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyMySQL = "*"
Werkzeug = "*"
python-Levenshtein = "*"
requests-oauthlib = "*"
phpserialize = "*"
toolforge = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
