<!doctype html>
<title>Hyphenated</title>

<form action="{{ submit_url }}" method="post" target="_blank">
    <div>
        <textarea id="wpTextbox1" name="wpTextbox1" readonly>{{ newtext }}</textarea>
    </div>
    <div>
        <input type="hidden" name="wpSummary" value="Cleaned up ISBNs using [[toolforge:anticompositetools/hyphenator]]" />
        <input type="hidden" name="wpStarttine" value="{{ start_time }}" />
        <input type="hidden" name="wpEdittime" value="{{ edit_time }}" />
        <input type="hidden" name="wpDiff" value="Show changes"/>
        <input type="hidden" name="wpMinoredit" />
        <input type="hidden" name="wpAutoSummary" value="fakehash" />
        <input type="hidden" name="wpUltimateParam" value="1" >
    </div>
    <div class="button">
        <button type="submit">Preview/save</button>
    </div>
</form>

