<!doctype html>
<title>Hyphenator</title>

<p>This tool will automatically hyphenate ISBNs and convert 10-digit ISBNs to 13-digit ISBNs.</p>
<p>It only supports ISBNs in {{ '{{' }}ISBN}}, {{ '{{' }}ISBNT}}, and any citation with a |isbn= parameter.
Magic links are not supported.</p>

<form action="/hyphenator/output" method="post">
    <div>
        <label for="url">Page URL:</label>
        <input type="url" id="url" name="page_url" />
    </div>
    <div class="button">
        <button type="submit">Submit</button>
    </div>
</form>
