{% extends "layout.html" %}
{% block title %}Hyphenator{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Hyphenator</h1>
  <div>
    <p>
      This tool will automatically hyphenate ISBNs and 
      convert 10-digit ISBNs to 13-digit ISBNs using <a href=https://arthurdejong.org/python-stdnum/>python-stdnum</a>.
    </p>
    <p>
      It only supports ISBNs in <code class="text-reset">{{ '{{ISBN}}' }}</code>,
      <code class="text-reset">{{ '{{ISBNT}}' }}</code>, 
      and any citation with an <code class="text-reset">|isbn=</code>
      parameter. Magic links are not supported.
    </p>
  </div>

  <form action="{{url_for('hyphenator_output')}}" method="post">
    <div class="form-group">
        <label for="url">Page URL:</label>
        <input type="url" id="url" name="page_url" / class="form-control">
    </div>
    <div class="form-group button">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
 </form>
{% endblock %}
