{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">AntiCompositeTools</h1>
      <p>A series of tools built by User:AntiCompositeNumber</p>
    </div>
  </div>

  <div class="container">
    <div class="card-deck">
     
    {% macro frontcard(title, description, target, beta=False) -%}
      <div class="card mb-4" style="min-width: 300px">
        <div class="card-body">
            <h2 class="card-title">{{ title }}{% if beta %} <span class="badge badge-info">Beta</span>{% endif %}</h2>
          <p class="card-text">{{ description }}</p>
          <p><a class="card-link stretched-link" href="{{ target }}" role="button">Run</a></p>
        </div>
      </div>
    {% endmacro %}
      {{ frontcard('Hyphenator', 'Automatically hyphenates ISBNs and converts 10-digit ISBNs to 13-digit ISBNs.', url_for('hyphenator.form')) }}
      {{ frontcard('CiteInspector', 'Compares existing citations to Citoid data.', url_for('citeinspector.form'), beta=True) }}
      {{ frontcard('MoveCheck', 'Recent moves to mainspace that may need review', url_for('movecheck.movecheck'), beta=True) }}
    </div>

  </div>
{% endblock %}
