{% extends "layout.html" %}
{% block title %}Linkspam{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Global Linkspam</h1>
      <p>Have you ever wanted a Special:LinkSearch report, but for every wiki? Then this tool's for you.</p>
      <p>Linkspam searches for usages of a domain across all open public wikis. Reports include http and https links to the top-level domain and subdomains.</p>
    </div>
  </div>

  <div class="container">
    <div class="card-deck">
    {% for domain, sitedata in data.items() %} 
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ sitedata['title'] }}</h4>
          <p class="card-text">{{ sitedata['description'] }}</p>
          <p><a class="card-link btn btn-primary" href="{{url_for('linksearch_result', target=domain)}}" role="button">Run</a></p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated {{ sitedata['last_update'] }}</small>
        </div>
      </div>
    {% endfor %}
    </div>

  </div>
{% endblock %}
