{% extends "layout.html" %}
{% block title %}Nearfar{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Nearfar</h1>
  <div>
    <p>
    Like Special:Nearby, but for anywhere.
    </p>
  </div>

  <form action="{{url_for('nearfar.form')}}" method="get">
    <div class="form-group">
        <label for="site">Wiki</label>
        {#<select class="form-control" id="dbname" name="dbname">
        {% for option in sitematrix|sort() %}
            <option{% if option == "commonswiki"%} selected{%endif%}>{{option}}</option>
        {% endfor %}
        </select>#}
        <input class="form-control" id="site" value="en.wikipedia.org" name="site" required>
    </div>
    <div class="form-group">
        <label for="lat">Latitude</label>
        <input class="form-control" id="lat" placeholder="37.7891838" name="lat" required>
    </div>
    <div class="form-group">
        <label for="lat">Longitude</label>
        <input class="form-control" id="lon" placeholder="-122.4033522" name="lon" required>
    </div>
    <div class="form-group">
        <label for="radius">Radius (m)</label>
        <input type="number" min=10 max=10000 class="form-control" id="radius" value=10000 name="radius" required>
    </div>
    <div class="form-group">
        <label for="limit">Limit</label>
        <input type="number" min=1 max=500 class="form-control" id="limit" value=50 name="limit" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
 </form>
{% endblock %}
